spawn-at-startup "noctalia"
prefer-no-csd

cursor {
    xcursor-theme "capitaine-cursors"
    xcursor-size 24
}

environment {
	QT_QPA_PLATFORMTHEME "qt6ct"
	QT_STYLE_OVERRIDE "kvantum"
}

hotkey-overlay {
}
layer-rule {
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

include "./conf.d/animations.kdl"
include "./conf.d/input.kdl"
include "./conf.d/outputs.kdl"
include "./conf.d/layout.kdl"
include "./conf.d/binds.kdl"
include "./conf.d/rules.kdl"
include "./conf.d/blur.kdl"


include "noctalia.kdl"
